body {
  font-family: Arial, sans-serif;
  margin-left: 30px;
  background-color:rgb(211, 208, 208);
  
}

h1 {
  color: black;
  
}

div {
  margin-bottom: 10px;
}

button {
  margin-left: 15px;
  border: 1px solid, black;
  
} 

button:hover {
  background-color: #ddd;
}

input {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 30px;
}

hr {
  border: none;
  border-top: 1px solid #8b8787;
  margin: 0px 50px 10px 10px;
}
